<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <h1 class= "Header">Schwierigkeitsgrad</h1>
    <script src="../script/single-menue.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../script/single-menue.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/single-menue.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<input class="extrem" value= "extrem" type="button" onclick= "extrem()"/>
<br>
<br>
<input class="schwer" value= "schwer" type="button"onclick = "schwer()"/>
<br>
<br>
<input class="normal" value= "normal" type="button"onclick = "normal()"/>
<br>
<br>
<input class="leicht" value="leicht" type="button"onclick= "leicht()"/>
<br>
<br>
<input class="modien" value= "Zurück" type="button"onclick = "zurueck()"/>
</html>